@model WebApp1.Models.Hrdina

<h1>Hrdina</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Telo
                <input asp-for="TeloLimit" />
                <span asp-validation-for="TeloLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                Duse
                <input asp-for="DuseLimit" />
                <span asp-validation-for="DuseLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                Vliv
                <input asp-for="VlivLimit" />
                <span asp-validation-for="VlivLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penize" class="control-label"></label>
                <input asp-for="Penize" />
                <span asp-validation-for="Penize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suroviny" class="control-label"></label>
                <input asp-for="Suroviny" />
                <span asp-validation-for="Suroviny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vybaveni" class="control-label"></label>
                <input asp-for="Vybaveni" class="multi-line"/>
                <span asp-validation-for="Vybaveni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rasa" class="control-label"></label>
                <input asp-for="Rasa" />
                <span asp-validation-for="Rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Vytvořit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

