@using WebApp1.Models;
@model Morseovka
@{
    ViewData["Title"] = "Home page";
    //if (Request.QueryString)
}
<h1>AtoN</h1>

<div class="container" style="width:stretch">
    <form method="post" asp-action="Morse" style="width:inherit">
        <div asp-validation-summary="All"></div>
        <label asp-for="Shuffle"></label>
        <input asp-for="Shuffle" />
        <br />
        <label asp-for="Text"></label>
        <textarea asp-for="Text" cols="999999999" rows="5"></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Encrypt</button>
        <br />
    </form>
    <br />
    @if ((bool?)TempData["success"] ?? false)
    {
        <h4>Encrypted:</h4>
        <br />
        @Html.TextArea("Encrypted",TempData["Encrypted"]?.ToString(), new { @readonly = "readonly", cols = "999999999", rows = "5"})
    }
</div>