<h1>Všestránky</h1>
<h2>Šifrování</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="ImageField">
        <a href="/Encrypt/StartEnd">
            <div class="toOverlay">
                <img src="https://i.imgur.com/Y2orlXf.jpg" alt="ACEDB" class="image">
                <div class="overlay">
                    <div class="text">ACEDB</div>
                </div>
            </div>
        </a>
        <a href="/Encrypt/Morse">
            <div class="toOverlay">
                <img src="https://i.imgur.com/5sYqAD8.jpg" alt="Morse code" class="image">
                <div class="overlay">
                    <div class="text">Morse code</div>
                </div>
            </div>
        </a>
        <a href="/Encrypt/AtoN">
            <div class="toOverlay">
                <img src="https://i.imgur.com/BFfj7Fa.jpg" alt="kličové slovo" class="image">
                <div class="overlay">
                    <div class="text">Klíčové slovo</div>
                </div>
            </div>
        </a>
    </div>
</body>
</html>