@using WebApp1.DataAccess;
@model LitTextyDbContext

<h1>Texty</h1>
<head>
    <style>
        aside {
            width: 30%;
            float: left;
            background-color: var(--bs-gray-dark);
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/pe9vrlfk8d5dm7ma9g0na5ej7zzhlhw48irehlx4uwvdkr00/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <aside>
        <ul id="myUL">
            @foreach (Doba doba in Model.Doba.ToList())
            {
                <li>
                    <span class="caret">@doba.CelyNazev</span>
                    <ul class="nested">
                        @foreach (Svatek svatek in Model.Svatek.Where(s => s.DobaId == doba.Id).ToList())
                        {
                            <li><a asp-controller="Texty" asp-action=@svatek.Nazev_dne asp-route-id=@svatek.Id> @svatek.Cely_nazev</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </aside>
    @Html.DropDownList("svatek", @Html.GetEnumSelectList(typeof(Cyklus)))
    <form method ="post" asp-controller="Texty" asp-action="Index">
        <textarea>
     Welcome to TinyMCE!
  </textarea>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'save anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'save undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
    </form>
</body>