@using WebApp1.DataAccess;
@model LitTextyDbContext

<h1>Texty</h1>
<body>
    <ul id="myUL">
        @foreach (Doba doba in Model.Doba.ToList())
        {
            <li>
                <span class="caret">@doba.CelyNazev</span>
                <ul class="nested">
                    @foreach (Svatek svatek in Model.Svatek.Where(s => s.DobaId == doba.Id).ToList())
                    {
                        <li>@svatek.Cely_nazev</li>
                    }
                </ul>
            </li>
        }
    </ul>
    <ul id="myUL">
        <li>
            <span class="caret">Advetni</span>
            <ul class="nested">
                <li>1.</li>
                <li>2.</li>
            </ul>
        </li>
        <li>
            <span class="caret">Tea</span>
            <ul class="nested">
                <li>Black Tea</li>
                <li>White Tea</li>
                <li>
                    <span class="caret">Green Tea</span>
                    <ul class="nested">
                        <li>Sencha</li>
                        <li>Gyokuro</li>
                        <li>Matcha</li>
                        <li>Pi Lo Chun</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    </li>
    </ul>
</body>
