<h1>Všestránky</h1>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body><div class="ImageField">
        <a href="/Texty/Index">
            <div class="toOverlay">
                <img src="https://i.imgur.com/qq2g1FZ.jpg" alt="Liturgicky kalendar" class="image">
                <div class="overlay">
                    <div class="text">Liturgicky kalendář</div>
                </div>
            </div>
        </a>
        <a href="/Texty/Index">
            <div class="toOverlay">
                <img src="https://i.imgur.com/SZ1Y9OO.jpg" alt="G" class="image">
                <div class="overlay">
                    <div class="text">Fatnasy příběhy</div>
                </div>
            </div>
        </a>
        <a href="/Drd/Index">
            <div class="toOverlay">
                <img src="https://i.imgur.com/grUmJAH.jpg" alt="DrD" class="image">
                <div class="overlay">
                    <div class="text">Dračí doupě</div>
                </div>
            </div>
        </a>
        <a href="/Encrypt/AtoN">
            <div class="toOverlay">
                <img src="https://i.imgur.com/YQi84hO.jpg" alt="Sifry" class="image">
                <div class="overlay">
                    <div class="text">Šifry</div>
                </div>
            </div>
        </a>
    </div>
</body>
</html>
